<div [@routerTransition]>
    <h2 class="text-muted"> <small>Live Data </small></h2>

    <div class="container" style="background-color: #f3f3f3;">
     <div class="row">
         <!-- style="flex: 0 0 20%;max-width: 20%;" -->
            <div class="col-sm-3"  >
                    <div class="row" style="padding: 15px;margin-bottom: 15px;margin-top: 15px;">
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                            <i class="fa fa-mobile" aria-hidden="true" style="margin-top: 5px;
                               margin-left: -1px;"></i>
                               <h6 style="position: relative;margin-left: 15px;font-size: 14px;">
                                   Active Resources
                              </h6>
                       </div>
                       
                       <div class="row" style="padding: 15px;margin-bottom: 10px;">
                           <div class="text-center" style="
                           margin-top: -32px;">
                               <h2 style="font-size: 75px;font-weight: 800;">103</h2>
                               
                           </div>
                           <div class="" style="margin-top: 20px;margin-left: 8px;">
                               <span class="" style="background-color: #fb5151;
                               font-size: 10px;padding: 2px;border-radius: 3px;color:#fff">-2.4%</span>
                           </div>
                       </div>
                       <div class="row" >
                           <ul class="horizontal-list">
                               <li> <a href=""> past </a></li>
                               <li class="active"> <a href="" > 24hr </a></li>
                               <li> <a href=""> 7d </a></li>
                               <li> <a href=""> 30d </a></li>
                           </ul>
                       </div>
                       <div class="row" style="padding: 15px;">
                           <p style="color: #777777;font-size: 12px;font-weight: 800;">
                                Total Resources  &nbsp;&nbsp;&nbsp; <strong style="color:#212529;font-weight: 800;"> 329 </strong></p>
                       </div>
            </div>
            <!-- /.col-sm-4 -->
            <!-- style="flex: 0 0 10.666667%;max-width: 10.666667%;" -->
            <div class="col-sm-2" >
                    <div class="row "  style="background-color: #232323;color: #fff;">
                            <p class="text-centered" >Current Time</p>
                           
                        </div>
                        <div class="row " style="background-color: #43aaff;color: #f3f3f3;">
                            <div class="text-centered1">
                                <p class="card-title titles" style="font-size: 12px;">Active Resources</p>
                                <p class="card-text titles" style="font-size: 12px;">Type A</p>
                                <p class="card-text titles" style="font-size: 35px;font-weight:800">
                                65</p>
                                <br>
                                <br>
                                <br>
                            </div>

                        </div>
                        
                        <div class="row " style="background-color: #1c01f782;;color: #f3f3f3;
                            border-top: 1px solid #fbfbfb;">
                                <div class="text-centered1">
                                    <p class="card-title titles" style="font-size: 12px;">Active Resources</p>
                                    <p class="card-text titles" style="font-size: 12px;">Type A</p>
                                    <p class="card-text titles" style="font-size: 35px;font-weight:800">
                                    65</p>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div>
            </div>
            <!-- /.col-sm-4 -->
            <div class="col-sm-7">
                <div class="row ">
                   <div class="card-body" style="padding: 0px 0px 10px 0px;">
                       <!-- <canvas
                       baseChart height="140vh" width="600vw"
                       baseChart [datasets]="barChartData" 
                       [labels]="barChartLabels" [options]="barChartOptions" 
                       [legend]="barChartLegend" [chartType]="barChartType" 
                       (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"
                       >
                        </canvas> -->
                        <jqxChart #myChart
                            [width]="630" [height]="240"
                            [title]="'Live Data of DC_Out_VoltageEU'" [enableAxisTextAnimation]="true"
                            [description]="''" [animationDuration]="1000" (click)="test($event,valueAxis)"
                            [showLegend]="true" [enableAnimations]="false" [padding]="padding"
                            [titlePadding]="titlePadding" [source]="data" [xAxis]="xAxis"
                            [valueAxis]="valueAxis" [seriesGroups]="seriesGroups" [colorScheme]="'scheme05'">
                        </jqxChart>
                    </div>        
                </div>
                <div class="row ">
                        <div class="card-body" style="padding: 0px 0px 10px 0px;">
                            <!-- <canvas
                            baseChart height="140vh" width="600vw"
                            baseChart [datasets]="barChartData" 
                            [labels]="barChartLabels" [options]="barChartOptions" 
                            [legend]="barChartLegend" [chartType]="barChartType" 
                            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"
                            >
                             </canvas> -->
                             <jqxChart #myChart
                            [width]="630" [height]="240"
                            [title]="'Live Data of DC_Out_CurrentEU'" [enableAxisTextAnimation]="true"
                            [description]="''" [animationDuration]="10"      
                            [showLegend]="true" [enableAnimations]="false" [padding]="padding"
                            [titlePadding]="titlePadding" [source]="data" [xAxis]="xAxis"
                            [valueAxis]="valueAxis" [seriesGroups]="seriesGroups1" [colorScheme]="colorSchemes" padding = "15px">

                        </jqxChart>
                         </div>        
                     </div>
                        <!-- <div class="row">
                            
                                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                </canvas>
                            
                </div> -->
            </div>
        </div>
            <!-- /.col-sm-4 -->
     </div>
     <br>

     <div class="container" style="background-color: #f3f3f3;">
        <div class="row">
            <!-- style="flex: 0 0 20%;max-width: 20%;" -->
               <div class="col-sm-3"  >
                       <div class="row" style="padding: 15px;margin-bottom: 15px;margin-top: 15px;">
                               <i class="fa fa-mobile" aria-hidden="true"></i>
                               <i class="fa fa-mobile" aria-hidden="true" style="margin-top: 5px;
                                  margin-left: -1px;"></i>
                                  <h6 style="position: relative;margin-left: 15px;font-size: 14px;">
                                      Active Resources
                                 </h6>
                          </div>
                          <div class="row" style="padding: 15px;margin-bottom: 10px;">
                              <div class="text-center" style="
                              margin-top: -32px;">
                                  <h2 style="font-size: 75px;font-weight: 800;">103</h2>
                                  
                              </div>
                              <div class="" style="margin-top: 20px;margin-left: 8px;">
                                  <span class="" style="background-color: #fb5151;
                                  font-size: 10px;padding: 2px;border-radius: 3px;color:#fff">-2.4%</span>
                              </div>
                          </div>
                          <div class="row" >
                              <ul class="horizontal-list">
                                  <li> <a href=""> past </a></li>
                                  <li class="active"> <a href="" > 24hr </a></li>
                                  <li> <a href=""> 7d </a></li>
                                  <li> <a href=""> 30d </a></li>
                              </ul>
                          </div>
                          <div class="row" style="padding: 15px;">
                              <p style="color: #777777;font-size: 12px;font-weight: 800;">
                                   Total Resources  &nbsp;&nbsp;&nbsp; <strong style="color:#212529;font-weight: 800;"> 329 </strong></p>
                          </div>
               </div>
               <!-- /.col-sm-4 -->
               <!-- style="flex: 0 0 10.666667%;max-width: 10.666667%;" -->
               <div class="col-sm-2" >
                       <div class="row "  style="background-color: #232323;color: #fff;">
                               <p class="text-centered" >Current Time</p>
                              
                           </div>
                           <div class="row " style="background-color: #43aaff;color: #f3f3f3;">
                               <div class="text-centered1">
                                   <p class="card-title titles" style="font-size: 12px;">Active Resources</p>
                                   <p class="card-text titles" style="font-size: 12px;">Type A</p>
                                   <p class="card-text titles" style="font-size: 35px;font-weight:800">
                                   65</p>
                                   <br>
                                   <br>
                                   <br>
                               </div>
                                                      
                            </div>
                           
                           <div class="row " style="background-color: #1c01f782;;color: #f3f3f3;
                               border-top: 1px solid #fbfbfb;">
                                   <div class="text-centered1">
                                       <p class="card-title titles" style="font-size: 12px;">Active Resources</p>
                                       <p class="card-text titles" style="font-size: 12px;">Type A</p>
                                       <p class="card-text titles" style="font-size: 35px;font-weight:800">
                                       65</p>
                                       <br>
                                       <br>
                                       <br>
                                       <br>
                                   </div>
                               </div>

               </div>
               <!-- /.col-sm-4 -->
               <div class="col-sm-7">
                   <div class="row ">
                      <div class="card-body" style="padding: 0px 0px 10px 0px;">
                          <!-- <canvas
                          baseChart height="140vh" width="600vw"
                          baseChart [datasets]="barChartData" 
                          [labels]="barChartLabels" [options]="barChartOptions" 
                          [legend]="barChartLegend" [chartType]="barChartType" 
                          (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"
                          >
                           </canvas> -->
                           <jqxChart #myChart
                               [width]="600" [height]="240"
                               [title]="'Live Data of PSPEU'" [enableAxisTextAnimation]="true"
                               [description]="''" [animationDuration]="1000"
                               [showLegend]="true" [enableAnimations]="false" [padding]="padding"
                               [titlePadding]="titlePadding" [source]="data" [xAxis]="xAxis"
                               [valueAxis]="valueAxis" [seriesGroups]="seriesGroups" [colorScheme]="'scheme03'">
                           </jqxChart>
                       </div>        
                   </div>
                   <div class="row ">
                           <div class="card-body" style="padding: 0px 0px 10px 0px;">
                               <!-- <canvas
                               baseChart height="140vh" width="600vw"
                               baseChart [datasets]="barChartData" 
                               [labels]="barChartLabels" [options]="barChartOptions" 
                               [legend]="barChartLegend" [chartType]="barChartType" 
                               (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"
                               >
                                </canvas> -->
                                <jqxChart #myChart
                            [width]="600" [height]="240"
                            [title]="'Live Data of Resistance'" [enableAxisTextAnimation]="true"
                            [description]="''" [animationDuration]="1000"
                            [showLegend]="true" [enableAnimations]="false" [padding]="padding"
                            [titlePadding]="titlePadding" [source]="data" [xAxis]="xAxis"
                            [valueAxis]="valueAxis" [seriesGroups]="seriesGroups" [colorScheme]="'scheme03'">
                        </jqxChart>
                            </div>        
                        </div>
                           <!-- <div class="row">
                               
                                   <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                   </canvas>
                               
                   </div> -->
               </div>
           </div>
               <!-- /.col-sm-4 -->
        </div>





    
</div>
