<div [@routerTransition]>
        <!-- <app-page-header [heading]="'Comparison Charts'" [icon]="'fa-bar-chart-o'"></app-page-header> -->
        <div class="row" style="margin-bottom:10px">
                <div class="col col-sm-12">
                   <h2 style="font-weight: 800;color: #a5a5a5;"> Alarm Set </h2>
                </div>
        </div>
        <div class="row" style="margin-bottom:15px">
            <div class="col col-sm-12">
                <table class="table table-bordered">
                        <thead style="background-color: #a5a5a5;">
                                <tr>
                                  <th>Select</th>
                                  <th>Parameter</th>
                                  <th>More Than</th>
                                  <th>Less Than</th>
                                </tr>
                              </thead>
                              <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        
                                    </tr>
                                  </tbody>
              </table>
              <button class="btn btn-info btn-sm" style="font-size: 12px;margin-top: 10px;
                            padding: 9px 20px;float:right">Delete</button>
              <button class="btn btn-info btn-sm" style="font-size: 12px;margin-top: 10px;
                            padding: 9px 20px;float:right;margin-right: 15px;">Add</button>
                            
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-6">
                
            </div>
       
        </div>
       
    </div>
    